In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import folium

In [2]:
ispu = pd.read_excel("825230074_DataMentah.xlsx", sheet_name="KESELURUHAN")

In [3]:
ispu.head()

,TANGGAL,KECEPATAN_ANGIN_MAKSIMUM,ARAH_ANGIN_KECEPATAN_MAKSIMUM,KECEPATAN_ANGIN_RATA,ARAH_ANGIN_TERBANYAK,KOTA
0,01-01-2011,4,45,3,SW,ACEH
1,02-01-2011,4,135,3,E,ACEH
2,03-01-2011,5,135,3,E,ACEH
3,04-01-2011,5,135,2,E,ACEH
4,05-01-2011,4,90,4,E,ACEH

In [4]:
ispu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10907 entries, 0 to 10906
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   TANGGAL                        10907 non-null  object
 1   KECEPATAN_ANGIN_MAKSIMUM       10907 non-null  object
 2   ARAH_ANGIN_KECEPATAN_MAKSIMUM  10907 non-null  object
 3   KECEPATAN_ANGIN_RATA           10907 non-null  object
 4   ARAH_ANGIN_TERBANYAK           10907 non-null  object
 5   KOTA                           10907 non-null  object
dtypes: object(6)
memory usage: 511.4+ KB

In [5]:
ispu.shape

(10907, 6)

In [6]:
ispu.columns

Index(['TANGGAL', 'KECEPATAN_ANGIN_MAKSIMUM', 'ARAH_ANGIN_KECEPATAN_MAKSIMUM',
       'KECEPATAN_ANGIN_RATA', 'ARAH_ANGIN_TERBANYAK', 'KOTA'],
      dtype='object')

In [7]:
ispu.replace((8888), np.nan, inplace=True)
ispu.replace(('-'), np.nan, inplace=True)

C:\Users\metta\AppData\Local\Temp\ipykernel_26296\1161123468.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ispu.replace(('-'), np.nan, inplace=True)

In [8]:
ispu.isna().sum()/len(ispu)*100

TANGGAL                          0.000000
KECEPATAN_ANGIN_MAKSIMUM         0.082516
ARAH_ANGIN_KECEPATAN_MAKSIMUM    0.064179
KECEPATAN_ANGIN_RATA             0.064179
ARAH_ANGIN_TERBANYAK             1.411937
KOTA                             0.000000
dtype: float64

In [9]:
ispu = ispu.ffill()
ispu = ispu.bfill()

In [10]:
ispu.head()

,TANGGAL,KECEPATAN_ANGIN_MAKSIMUM,ARAH_ANGIN_KECEPATAN_MAKSIMUM,KECEPATAN_ANGIN_RATA,ARAH_ANGIN_TERBANYAK,KOTA
0,01-01-2011,4.0,45.0,3.0,SW,ACEH
1,02-01-2011,4.0,135.0,3.0,E,ACEH
2,03-01-2011,5.0,135.0,3.0,E,ACEH
3,04-01-2011,5.0,135.0,2.0,E,ACEH
4,05-01-2011,4.0,90.0,4.0,E,ACEH

In [11]:
ispu.tail()

,TANGGAL,KECEPATAN_ANGIN_MAKSIMUM,ARAH_ANGIN_KECEPATAN_MAKSIMUM,KECEPATAN_ANGIN_RATA,ARAH_ANGIN_TERBANYAK,KOTA
10902,26-09-2020,4.0,20.0,2.0,C,JAKARTA
10903,27-09-2020,4.0,360.0,2.0,S,JAKARTA
10904,28-09-2020,6.0,100.0,3.0,E,JAKARTA
10905,29-09-2020,5.0,40.0,2.0,C,JAKARTA
10906,30-09-2020,7.0,40.0,3.0,SE,JAKARTA

In [12]:
duplicated = ispu.duplicated().sum()
print ("There are %d duplicated records" %(duplicated))

There are 80 duplicated records

In [13]:
ispu.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,TANGGAL,KECEPATAN_ANGIN_MAKSIMUM,ARAH_ANGIN_KECEPATAN_MAKSIMUM,KECEPATAN_ANGIN_RATA,ARAH_ANGIN_TERBANYAK,KOTA
0,01-01-2011,4.0,45.0,3.0,SW,ACEH
1,02-01-2011,4.0,135.0,3.0,E,ACEH
2,03-01-2011,5.0,135.0,3.0,E,ACEH
3,04-01-2011,5.0,135.0,2.0,E,ACEH
4,05-01-2011,4.0,90.0,4.0,E,ACEH
...,...,...,...,...,...,...
10902,26-09-2020,4.0,20.0,2.0,C,JAKARTA
10903,27-09-2020,4.0,360.0,2.0,S,JAKARTA
10904,28-09-2020,6.0,100.0,3.0,E,JAKARTA
10905,29-09-2020,5.0,40.0,2.0,C,JAKARTA
10906,30-09-2020,7.0,40.0,3.0,SE,JAKARTA

In [14]:
duplicated = ispu.duplicated().sum()
print ("There are %d duplicated records" %(duplicated))

There are 80 duplicated records

In [15]:
ispuClean = ispu.drop_duplicates()

In [16]:
duplicated = ispu.duplicated().sum()
print ("There are %d duplicated records" %(duplicated))

There are 80 duplicated records

In [17]:
ispuClean = ispu.drop_duplicates()
ispuClean[ispuClean.duplicated()]

Empty DataFrame
Columns: [TANGGAL, KECEPATAN_ANGIN_MAKSIMUM, ARAH_ANGIN_KECEPATAN_MAKSIMUM, KECEPATAN_ANGIN_RATA, ARAH_ANGIN_TERBANYAK, KOTA]
Index: []

In [18]:
ispuClean = ispu.drop_duplicates()
ispuClean[ispuClean.duplicated()]

Empty DataFrame
Columns: [TANGGAL, KECEPATAN_ANGIN_MAKSIMUM, ARAH_ANGIN_KECEPATAN_MAKSIMUM, KECEPATAN_ANGIN_RATA, ARAH_ANGIN_TERBANYAK, KOTA]
Index: []

In [19]:
duplicated = ispuClean.duplicated().sum()
print ("There are %d duplicated records" %(duplicated))

There are 0 duplicated records

In [20]:
ispu.head()

,TANGGAL,KECEPATAN_ANGIN_MAKSIMUM,ARAH_ANGIN_KECEPATAN_MAKSIMUM,KECEPATAN_ANGIN_RATA,ARAH_ANGIN_TERBANYAK,KOTA
0,01-01-2011,4.0,45.0,3.0,SW,ACEH
1,02-01-2011,4.0,135.0,3.0,E,ACEH
2,03-01-2011,5.0,135.0,3.0,E,ACEH
3,04-01-2011,5.0,135.0,2.0,E,ACEH
4,05-01-2011,4.0,90.0,4.0,E,ACEH

In [21]:
ispu.to_excel("825230074_DataBersih.xlsx")